<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forgot Password</title>
</head>
<body>
    <div class="fgPass">
        <legend>Forgotten Your Password?</legend>
        <form action="http://localhost:8080/reset_pass" method="GET">
            <input type="email" name="email" placeholder="Enter your verified email" required>
            <input type="submit" value="Proceed">
        </form>
    </div>
</body>
</html>