<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Notifications</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
        <!-- nav bar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Matcha</a>
            <div style="border: 1px solid; border-radius: 50%; width: 50px; height: 50px; background-color: white"></div>
            <a class="nav-link" href="http://localhost:8080/profile"><%= name %></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarColor01">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="http://localhost:8080/home">Home <span class="sr-only">(current)</span></a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" href="http://localhost:8080/notifications">Notifications</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="http://localhost:8080/chatbe">Chat</a>
                </li><!-- 
                <li class="nav-item">
                  <a class="nav-link" href="#"></a>
                </li> -->
              </ul>
              <a href="http://localhost:8080/logout">Logout</a>
              <form class="form-inline" action="http://localhost:8080/search">
                <input class="form-control mr-sm-2" name="name" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>
    <!-- nav bar ends here -->
<div class="noti_loop">
    <% for(i=len; i >= 0; i--) { %>
        <% if  (i%2 === 0) { %>
            <div class="n_block">
                <%= results[i] %>
                <hr>
            </div>
            <% } 
            else { %>
                <div class="n_el_block">
                    <%= results[i] %>
                    <hr>
                </div>
            <% } %>
    <% } %>
</div>
    
</body>
</html>