<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reset Password</title>
</head>
<body>
    <h3><%=email%></h3>
    <div>
        <form action="http://localhost:8080/reset_pass" method="post">
            <input type="hidden" name="email" value=<%= email %>>
            <input type="password" name="password" placeholder="New Password" required>
            <input type="password" name="confirmPass" placeholder="Confirm Password" required>
            <input type="submit" value="Reset">
        </form>
    </div>
</body>
</html>