body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgba(158, 199, 201, 0.08);
}

a {
  color: #00B7FF;
}

#r_pass{
  color: white;
  background-color: #ec2626c9;
  max-width: max-content;
  height: 44px;

}

.block {
  background-color: rgb(243, 28, 28);
  color: white;
}

.chat {
  position: absolute;
  right: 68%;
  background-color: rgb(45, 211, 12);
  color: white;
}

#danger-zone {
  margin-top: 20px;
  margin-left: 111px;
  border: 0.016px solid rgb(247, 103, 103);
  width: 50%;
}

.dz-p {
  padding-left: 3%;
}

.new_pass {
  border: 1px solid #80808061;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 3%;
}

.new_pass_sub {
  padding: 4% 0%;
}

.inpt_rps {
  padding: 5px;
  margin: 5px;
}
.btn_rps {
  width: 58%;
  background-color: #17a2b8;
}

#error {
  color: white;
  max-width: max-content;
  position: relative;
  top: 80px;
  height: 44px;
  left: 179px;
  background-color: #ec2626c9;
}

.main_search {
  display: flex;
}

.loop {
  margin-top: 2%;
  width: 50%;
}

.user_d {
  display: -webkit-flex;
  padding: 1.5%;
}

.filter {
  margin-left: 111px;
  border: 0.016px solid lightgrey;
  width: 50%;
}

.a_filter {
  padding-left: 3%;
}

.fil_head {
  display: -webkit-flex;
}

.clr {
  margin-left: 9%;
  border: none;
  outline-style: none;
  background: transparent;
  background-color: rgba(158, 199, 201, 0.31);
}

#notif_div {
  background-color: red;
  width: 50px;
  height: 50px;
}

.fgPass {
  padding: 11%;
  
}

.s_prfl {
  background-image: URL('/images/profile.jpg');
  background-size: contain;
  background-size: cover;
  width: 50px;
  height: 50px;
  border: 1px solid;
  border-radius: 50%;
  background-color: rgb(65, 59, 59);
}

.unl{
  margin-left: 2%;
}

.l_btn {
  position: absolute;
  right: 50%;
}

.pending {
  color: red;
  position: absolute;
  right: 56%;
}

.connected {
  color: rgb(15, 233, 15);
  position: absolute;
  right: 56%;
}

.noti_loop {
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.n_block {
  background-color: rgba(158, 199, 201, 0.31);
  margin-bottom: -15px;
}

.n_el_block {
  background-color: rgba(158, 199, 201, 0.08);
  margin-bottom: -15px;
}

#mail_snt {
  padding: 13%;
  display: flex;
}

#mail_txt {
  padding: 2%;
}

.gridcontainer{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto auto;
  background-color: white;
  width: 100%;
  height: 100%;
}
.gridcontainer > div{
  background-color: #17a2b826;
}

@media only screen and (max-width:500px) {
  .gridcontainer {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto;
    background-color: white;
    width: 100%;
    height: 100%;
  }
}
