<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <div id="nav">
            <span>MATCHA</span>
            <button id="a" onclick="window.location.href='#'">Login</button>
        </div>
    </nav>
    <div id="signup">
        <h1>Join Now</h1>
        <div id="signupcont">
            <form action="#" id="signup-form">
                <input type="text" name="firstname" placeholder="first name"><br>
                <input type="text" name="secondname" placeholder="second name"><br>
                <input type="email" name="email" placeholder="email"><br>
                <input type="password" name="password" placeholder="password"><br>
                <input type="password" name="confirmpass" placeholder="confirm password"><br>
                <input type="submit" name="submit" value="Sign Up">
            </form>
        </div>
    </div>
</body>
</html>